/* General Styles */

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
}

/* Layout */
.container {
    background-color:#eaeaea;
    min-height: 100vh;
    padding-bottom: 100px;
}

article {
    width: 65vw;
    padding: 5rem;
    background-color: #F5F5DC;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}

/* Challenge One */
/* alter the image using the filter property, altered image should only appear when the user hovers on the image */
article img {
    float: left;
    padding:2em 3em 2em 0; 
    max-height: 400px;
    max-width: 100%;

}

/* Challenge Two */
/* create a "sticky footer" (always at the bottom of the viewport*/
footer {
    clear: left;
    background-color: #000;
    color: #fff;
    padding: 2rem 0;
}

/* Challenge Three */
/* Navigation */
/* style the navigation links */




/*Typography */

/*locally-hosted fonts*/


/* externally hosted web fonts */

h1 {
    color: #472A28;
}

h2 {

    color: #A3795B;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p,
figcaption {
}

figcaption {

}

figure {
    padding: 2em;
    margin: 2em 0;
    background-color: #C6AB80;
}

p {
}

blockquote p {

}
